.todo-section {
    h1 {
        font-weight: 400;
        font-size: 75px;
        text-align: right;
        padding-right: 300px;
        span {
            color: $secondary-color;
        }
    }
    .form {
        display: flex;
        justify-content: flex-start;
        .input-task {
            @include reset-input-style(none);
            padding: 14px 0 5px 0;
            max-width: 500px;
            width: 100%;
            border-bottom: 2px solid $main-color;
            font: 400 30px/1 $main-font;
            color: $main-color;
        }

        .add-task {
            @include reset-input-style(none);
            font: 400 50px/0.96 $main-font;
            color: $main-color;
            cursor: pointer;
            &:hover {
                transition: 0.3s;
                color: $secondary-color;
            }
        }
    }

    .todo-container {
        li {
            margin-top: 20px;
            font: 400 30px/1 $main-font;
        }
        .delete {
            @include reset-input-style(none);
            cursor: pointer;
            font: 400 30px/1 $main-font;
            color: $secondary-color;
            &:hover {
                opacity: 0.7;
                transition: 0.3s;
                color: $main-color;
            }
            &:focus {
                outline: none;
            }
        }
        .checkbox {
            margin-left: 70px;
            border: 1px solid $secondary-color;
        }
    }
}

.done {
    opacity: 0.5;
    text-decoration: line-through;
}



